body {
  background-color: #435165;
  margin: 0;
}

.btn {
  background: linear-gradient(to bottom, #2863a7 0%, #7545b4 100%)!important;
  border-color: #2863a7!important;;
}

.btn:hover {
  background: linear-gradient(to bottom, #4184d1 0%, #9664d8 100%)!important;
  border-color:#4184d1!important;
}

.btn-perfil{
  padding: 50px 0!important;
  margin: 10px 0;
  width: 80%;
  color: #fff;
}

.btn-p2{
  background: #390C9D!important;
}

.btn-perfil:hover{
  color: #fff;
}

.centrado{
  display: flex;
  justify-content: center;
}

.login-box {
  height: 50%;
  width: 30%;
  border: 1px solid grey;
  margin-left: 35%;
  margin-top: 10%;
  position: relative;
  box-shadow: 21px 12px 24px 10px rgba(0, 0, 0, 0.5);
  background: #dadada;
}
.login-header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  background: linear-gradient(to bottom, #2863a7 0%, #7545b4 100%);
  color: #fff;
  position: relative;
  box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.5);
}
.login-body {
  padding: 20px;
  line-height: 2;
}
.msg {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.main {
  margin-top: 50px;
}

h1.title {
  font-size: 50px;
  font-family: "Passion One", cursive;
  font-weight: 400;
}

hr {
  width: 10%;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
  color: #495057;
}

.select{
  font-size: 11px;
  padding: 8px 12px!important;
  color: #495057;
}

.main-login {
  background-color: #fff;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.form-control {
  height: auto !important;
  padding: 8px 12px !important;
}
.input-group {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
}
.main-center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 40px;
  background: #5b6d7c;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}
span.input-group-addon i {
  color: #fff;
  font-size: 17px;
  padding: 10px;
}

.login-button {
  margin-top: 5px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
}

.main-nav {
  background: linear-gradient(to bottom, #2863a7 0%, #7545b4 100%);
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  margin: 5px;  
}

.main-nav a:hover {
  color: var(--dark);
}

.fav{
  position: relative;
  padding: 10px;
  color: #fff;
  background: linear-gradient(to bottom, #2863a7 0%, #7545b4 100%);

}

.fav:hover{
  color: #fff;
}

.link_normal{
  color: #fff;
}

.link_normal:hover{
  color: #7545b4;
}