<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 </head>
 <body style="background-color:#8ea1b8;">
 <div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h5>Agregar una nueva serie/película</h5>
            <form action="{{ url_for('agregar_pos') }}" method="post" autocomplete="off"> 
                
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Nombre</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="nombre" id="nombre" onchange="nombrepos()"  placeholder="Ingresa el nombre de la serie/película"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Imagen</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="imagen" id="imagen"  placeholder="Imagen de la serie/película"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Link de Reproducción</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="link" id="link" placeholder="Link de reproducción de la serie/película" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Director</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="director" id="director" required  placeholder="Ingresa el director de la serie/película"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Categoría</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="categoria" id="categoria" required  placeholder="Ingresa la categoría de la serie/película"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Premios</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="premios" id="premios" required  placeholder="Ingresa los Premios de la serie/película"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Estreno</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="date" class="form-control" name="estreno" id="estreno" required  placeholder="Ingresa la fecha de la serie/película"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Duración</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="duracion" id="duracion" required  placeholder="Ingresa la Duración de la serie/película"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <input type="submit" value="Crear Serie/Película" class="form-control btn btn-primary " style="background: #4a6ebb!important;" name="">
                    
                </div>
            
            </form>

            <h5>Ahora para agregar Actores, ingrese tantos como desee a continuacion</h5>
            <form autocomplete="off"> 
                
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Nombre del actor o actriz</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="nombreac" id="nombreac"  placeholder="Ingresa el nombre del actor o actriz"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <a href="#nombreac" onclick="guardaractores();" class="btn btn-dark " style="background: #4a6ebb!important; margin: 5px 0;">Agregar actores de Serie/Pelicula</a>
                    
                </div>
            
            </form>

            <a href="{{ url_for('home_admin') }}" class="btn btn-dark " style="background: #4a6ebb!important; margin: 5px 0;">Regresar al dashboard</a>

        
        </div>
    </div>

    <script>    
        
        function nombrepos(){
            pos=document.querySelector('#nombre').value;
            localStorage.setItem("poskey",pos)
        }
        function guardaractores(){
            var nombreac=document.querySelector('#nombreac').value;
            const request = new XMLHttpRequest()
            var pos = localStorage.getItem("poskey")
            request.open('POST', `/agregar_actores/${JSON.stringify(pos)}/${JSON.stringify(nombreac)}`)
            request.send()
            alert('Actor asignado a serie/película con éxito. Si desea asignar otro actor vuelva a escribir en la casilla y presione el botón de agregar')           
        }
        
    </script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
 </body>
</html>