<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Desactivar Usuario</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 </head>
 <body style="background-color:#8ea1b8;">
 <div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="main-login main-center">
            <h5>Elija uno del listado de perfiles para borrar</h5>
            <ul>
                {% for perfil in perfiles %}
                <li><a href="{{url_for('borrar_perfil', name=perfil['nombre_perfil'], email=email)}}" class="link_normal">{{perfil['nombre_perfil']}}</a></li>
                {% endfor %}  
                
                <div class="form-group ">
                    {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </ul>

            <a href="{{ url_for('home') }}" class="btn btn-dark " style="background: #4a6ebb!important; margin: 5px 0;">Regresar al home</a>
        </div>
        
    </div>
  </div>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
 </body>
</html>