<!--Pagina de los perfiles -->

{% extends 'layout.html' %}
  
{% block title %} Perfil {% endblock %}
  
{% block content %}
<h1 class="h2">My Buuble</h1>
<p>Welcome Back, {{ perfil['nombre_perfil']}}!</p>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <nav class="main-nav">
        <div class="row" style="justify-content: space-between; align-items: center;">
            <div style="display:flex">
                <a class="boton_menu" href="{{ url_for('regresar_home', name=perfil['nombre_perfil']) }}">Salir del Perfil</a>
                <a class="boton_menu" href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">Contenido</a>
                <a class="boton_menu" href="{{ url_for('mylist', name=perfil['nombre_perfil']) }}">Favoritos</a>
                <a  class="boton_menu"href="{{ url_for('watched', name=perfil['nombre_perfil']) }}">Vistos</a>
                <a  href="{{ url_for('watching', name=perfil['nombre_perfil']) }}">Viendo</a>
            </div>
            <div>
                <form method="POST" action="{{ url_for('search', name=perfil['nombre_perfil']) }}" class="d-flex">
                    {{ form.hidden_tag() }}
                    <input class="form-control me-2" type="search" placeholder="Buscar serie, película, actor, director..." aria-label="Search" name="searched" style="width:600px">
                    <button class="btn btn-perfil" style="padding: 0!important;margin:0!important;width:200px" type="submit">Buscar</button>
                </form>  
            </div>
        </div>
    </nav>   
</header>

<div class="row">
    <h1>Contenido</h1>
</div>
<div class="row">

    {% for serie_pelicula in series_peliculas %}

    <div class="serie_pelicula col-lg-2 col-sm-6" style="margin-top: 10px; margin-bottom: 10px;">
        <a target="_blank" onclick="setInterval(anuncio, 5000)" href="{{ url_for('viendo', sp=serie_pelicula['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email'] )}}"><img src="{{serie_pelicula['imagen'] }}" alt=""></a>

        <a href="{{ url_for('favoritos', sp=serie_pelicula['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email'] ) }}" class="fav" >Agregar a Favoritos</a>

    </div>

    {% endfor %}

</div>

<div class="row">
    <h1>Recomendaciones</h1>
</div>
<div class="row">

    {% for recomendacion in recomendaciones %}

    <div class="serie_pelicula col-lg-2 col-sm-6" style="margin-top: 10px; margin-bottom: 10px;">
        <a target="_blank" onclick="setInterval(anuncio, 5000)" href="{{ url_for('viendo', sp=recomendacion['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email'] )}}"><img src="{{recomendacion['imagen'] }}" alt=""></a>

        <a href="{{ url_for('favoritos', sp=recomendacion['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email'] ) }}" class="fav" >Agregar a Favoritos</a>

    </div>

    {% endfor %}

</div>

{% for anuncio in anuncios %}
<p id="links" style="display:none">{{anuncio['link_anuncio']}}</p>
{% endfor %}

<script>
    var contador=1
    //funcion para desplegar anuncions cada cierto tiempo
    function anuncio(){
        tipocuenta = '{{tipocuenta}}';
        if (contador<=5){
            if(tipocuenta == 'Gratis'){
            anuncios = document.querySelectorAll('[id=links]');
            numero = Math.random() * (anuncios.length);
            linkanuncio = anuncios.item(numero)
            link= linkanuncio.innerHTML;
            
            Object.assign(document.createElement('a'), {
                target: '_blank',
                href: link,
            }).click();

            contador = contador + 1;
            }        
        }
    }
</script>
{% endblock %}