{% extends 'layout.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}
<h1 class="h2">Dashboard de Cuenta</h1>
<p>Welcome back, {{ username }}!</p>
<p>{{ account['email'] }}</p>


<div class=" container">
    <div class=" row">
        
        <div class="col-lg-3 col-sm-6 centrado">

            <a class="btn btn-perfil" href="{{ url_for('crear_perfil') }}"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>

        </div>

        <!--Boton por perfil-->
        {% if account['tipocuenta'] == 'gratis' %}
        {% for perfil in perfiles[:1] %}
        
        <div id="perfil" style="display:none">{{ perfil['nombre_perfil'] }}</div>
        <div class="col-lg-3 col-sm-6 centrado">
            
            
            <a class="btn btn-perfil" href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">
                {{ perfil['nombre_perfil'] }}
            </a>
            
        </div>
        {% endfor %}
        {% endif %}

        {% if account['tipocuenta'] == 'standard' %}
        {% for perfil in perfiles[:4] %}
        
        <div id="perfil" style="display:none">{{ perfil['nombre_perfil'] }}</div>
        <div class="col-lg-3 col-sm-6 centrado">
            
            
            <a class="btn btn-perfil" href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">
                {{ perfil['nombre_perfil'] }}
            </a>
            
        </div>
        {% endfor %}
        {% endif %}

        {% if account['tipocuenta'] == 'premium' %}
        {% for perfil in perfiles[:8] %}
        
        <div id="perfil" style="display:none">{{ perfil['nombre_perfil'] }}</div>
        <div class="col-lg-3 col-sm-6 centrado">
            
            
            <a class="btn btn-perfil" href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">
                {{ perfil['nombre_perfil'] }}
            </a>
            
        </div>
        {% endfor %}
        {% endif %}


    </div>
</div>

{% endblock %}