<!--Pagina de los perfiles -->

{% extends 'layout.html' %}
  
{% block title %} Perfil {% endblock %}
  
{% block content %}
<h1 class="h2">My Buuble</h1>
<p>Welcome Back, {{ perfil['nombre_perfil']}}!</p>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <nav class="main-nav">
        <a href="{{ url_for('home') }}">Back</a>
        <a  href="{{ url_for('mylist', name=perfil['nombre_perfil']) }}">My List</a>
        <a  href="{{ url_for('watched', name=perfil['nombre_perfil']) }}">Watched</a>
        <form method="POST" action="{{ url_for('search', name=perfil['nombre_perfil']) }}" class="d-flex">
            {{ form.hidden_tag() }}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>  
    </nav>   
</header>

{% for serie_pelicula in series_peliculas %}

<a href="url_for('vistos', sp=serie_pelicula['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email'] )" onclick="window.open(serie_pelicula['link_repro'])" ><img src="{{serie_pelicula['imagen'] }}" alt=""></a>
<a href="{{ url_for('favoritos', sp=serie_pelicula['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email'] ) }}" class="fav" >Agregar a Favoritos</a>


{% endfor %}

{% endblock %}