{% extends 'layout.html' %}
  
{% block title %}Dashboard de Admin{% endblock %}
  
{% block content %}

<h1 class="h2">Bienvenido Admin {{ username }}!</h1>
<hr>
<div class=" container">
    <div class="row" style="justify-content: space-evenly;">
        <div class=" row" style="flex-direction: column;">
            <h4>Acciones para contenido</h4>
            
    
            <a class="btn btn-perfil btn-p2" href="{{ url_for('agregar_pos') }}">Agregar Película/Serie</a>


            <a class="btn btn-perfil btn-p2" href="{{ url_for('premodificar_pos') }}">Modificar Película/Serie</a>


            <a class="btn btn-perfil btn-p2" href="{{ url_for('borrar_pos') }}">Borrar Película/Serie</a>

    
        </div>
    
        <div class=" row" style="flex-direction: column;">
    
            <h4>Acciones para usuarios</h4>

            <a class="btn btn-perfil btn-p2" href="">Modificar Usuario</a>


            <a class="btn btn-perfil btn-p2" href="">Desactivar Usuario</a>

    
        </div>
        <div class=" row" style="flex-direction: column;">
    
            <h4>Acciones para Anunciante</h4>

            <a class="btn btn-perfil btn-p2" href="">Agregar Anunciante</a>

            <a class="btn btn-perfil btn-p2" href="">Borrar Anunciante</a>

            <a class="btn btn-perfil btn-p2" href="">Agregar Anuncios</a>

            <a class="btn btn-perfil btn-p2" href="">Modificar Anuncios</a>

        </div>
    </div>
</div>

{% endblock %}