<!DOCTYPE html>
<html>
<body style="background: #8e8fb8; height:100%" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <header>
        <div class="titulo"  >Oh no, parece que has excedido el numero de intentos</div>
    </header>

    <div class="otro">Porfavor, espera un tiempo y vuelve a intentarlo mas tarde<div>
        
    <img src="https://images.vexels.com/media/users/3/134743/isolated/lists/97ae591756f3dc69db88c09fd097319a-emoticon-de-emoji-de-cara-triste.png" alt="Triste">
</body>
</html>
  