{% extends 'layout.html' %}
  
{% block title %} Perfil {% endblock %}
  
{% block content %}
<h1 class="h2">My list</h1>
<p>Welcome Back, {{ perfil['nombre_perfil']}}!</p>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<header>
    <nav class="main-nav">
        <a href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">Back</a>
        <a  href="{{ url_for('mylist', name=perfil['nombre_perfil']) }}">My List</a>
        <a  href="{{ url_for('watched', name=perfil['nombre_perfil']) }}">Watched</a>
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a> 
    </nav>   
</header>

{% for serie_pelicula in serie_pelicula %}

<a href="{{serie_pelicula['link_repro'] }}"><img src="{{ serie_pelicula['imagen'] }}" alt=""></a>

<a href="{{ url_for('borrar_favoritos', sp=serie_pelicula['serie_pelicula'], name=perfil['nombre_perfil'] )}}" class="fav">Eliminar de Favoritos</a>

{% endfor %}

{% endblock %}