{% extends 'layout.html' %}
  
{% block title %}Cuenta{% endblock %}
  
{% block content %}
<h1>Página de Perfil</h1>
<div>
    <p>Los detalles de la cuenta se encuentran abajo:</p>
    <table>
        <tr>
            <td>Nombre:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
        <tr>
            <td>Usuario:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Correo:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Tipo de Cuenta:</td>
            <td>{{ account['tipocuenta'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}