<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Query 1</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 </head>
 <body style="background-color:#8ea1b8;">
 <div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="main-login main-center">
            <h4>Cantidad de reproducciones por cada categoría, por tipo de cuenta para un rango de fechas dado</h4>
            <h5>Tipo de Cuenta: Gratis</h5>
            <table class="table">
                <tr >
                    <th>Categoria</th>
                    <th>Cantidad por Categoria</th>
                </tr>
                
                {% for grati in gratis %}
                <tr>
                    <td>{{grati['categoria']}}</td>
                    <td>{{grati['cantidad_por_categoria']}}</td>
                </tr>
                {% endfor %}  
                
            </table>
            <br>
            <h5>Tipo de Cuenta: Standard</h5>
            <table class="table">
                <tr >
                    <th>Categoria</th>
                    <th>Cantidad por Categoria</th>
                </tr>
                
                {% for stand in standard %}
                <tr>
                    <td>{{stand['categoria']}}</td>
                    <td>{{stand['cantidad_por_categoria']}}</td>
                </tr>
                {% endfor %}  
                
            </table>
            <h5>Tipo de Cuenta: Premium</h5>
            <table class="table">
                <tr >
                    <th>Categoria</th>
                    <th>Cantidad por Categoria</th>
                </tr>
                
                {% for prem in premium %}
                <tr>
                    <td>{{prem['categoria']}}</td>
                    <td>{{prem['cantidad_por_categoria']}}</td>
                </tr>
                {% endfor %}  
                
            </table>
            
            <a href="{{ url_for('home') }}" class="btn btn-dark " style="background: #4a6ebb!important; margin: 5px 0;">Regresar al home</a>
        </div>
        
    </div>
  </div>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
 </body>
</html>