{% extends 'layout.html' %}
  
{% block title %} Perfil {% endblock %}
  
{% block content %}
<h1 class="h2">Search</h1>
<p>Welcome Back, {{ perfil['nombre_perfil']}}!</p>

<header>
    <nav class="main-nav">
        <a class="boton_menu" href="{{ url_for('regresar_home', name=perfil['nombre_perfil']) }}">Salir del Perfil</a>
		<a class="boton_menu" href="{{ url_for('home') }}">Contenido</a>
		<a class="boton_menu" href="{{ url_for('mylist', name=perfil['nombre_perfil']) }}">Favoritos</a>
		<a class="boton_menu" href="{{ url_for('watched', name=perfil['nombre_perfil']) }}">Vistos</a>
		<a href="{{ url_for('watching', name=perfil['nombre_perfil']) }}">Viendo</a>
    </nav>   
</header>

<br/>
	<h2>Resultados de Búsqueda</h2>
	<h2>Se buscó: <em>{{ searched }}</em></h2>
	
	<br/>

	{% for post in posts %}

		<a href="{{post['link_repro'] }}"><img src="{{post['imagen'] }}" alt=""></a>

	{% endfor %}

	{% for director in directores %}

		<a href="{{director['link_repro'] }}"><img src="{{director['imagen'] }}" alt=""></a>

	{% endfor %}

	{% for actor in actores %}

		<a href="{{actor['link_repro'] }}"><img src="{{actor['imagen'] }}" alt=""></a>

	{% endfor %}

	{% for categoria in categorias %}

		<a href="{{categoria['link_repro'] }}"><img src="{{categoria['imagen'] }}" alt=""></a>

	{% endfor %}

	<br/><br/>
</div>
<br/>

{% endblock %}