{% extends 'layout.html' %}
  
{% block title %} Perfil {% endblock %}
  
{% block content %}
<h1 class="h2">Search</h1>
<p>Welcome Back, {{ perfil['nombre_perfil']}}!</p>

<header>
    <nav class="main-nav">
        <a href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">Back</a>
        <a  href="{{ url_for('mylist', name=perfil['nombre_perfil']) }}">My List</a>
        <a  href="{{ url_for('watched', name=perfil['nombre_perfil']) }}">Watched</a>
        <a href="{{ url_for('search', name=perfil['nombre_perfil']) }}"><i class="fas fa-search sub-nav-logo"></i></a> 
    </nav>   
</header>

<br/>
	<h2>Se busco: <em>{{ searched }}</em></h2>
	
	<br/>

	{% for post in posts %}

		<a href="{{serie_pelicula['link_repro'] }}"><img src="{{serie_pelicula['imagen'] }}" alt=""></a>

	{% endfor %}

	{% for director in directores %}

		<a href="{{serie_pelicula['link_repro'] }}"><img src="{{serie_pelicula['imagen'] }}" alt=""></a>

	{% endfor %}

	{% for actor in actores %}

		<a href="{{serie_pelicula['link_repro'] }}"><img src="{{serie_pelicula['imagen'] }}" alt=""></a>

	{% endfor %}

	{% for categoria in categorias %}

		<a href="{{serie_pelicula['link_repro'] }}"><img src="{{serie_pelicula['imagen'] }}" alt=""></a>

	{% endfor %}

	<br/><br/>
</div>
<br/>
	{% endfor %}

	{% else %}
	Lo siento, <strong>{{ searched }}</strong> no se encontro...
	{% endif %}

{% endblock %}