{% extends 'layout.html' %}
  
{% block title %} Perfil {% endblock %}
  
{% block content %}
<h1 class="h2">My list</h1>
<p>Welcome Back, {{ perfil['nombre_perfil']}}!</p>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<header>
    <nav class="main-nav">
        <a href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">Back</a>
        <a  href="{{ url_for('mylist', name=perfil['nombre_perfil']) }}">My List</a>
        <a  href="{{ url_for('watched', sp=serie_pelicula['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email']) }}">Watched</a>
        <a href="{{ url_for('watching', name=perfil['nombre_perfil']) }}">Watching</a>
    </nav>   
</header>

<div class="row">

    {% for serie_pelicula in serie_pelicula %}

    <div class="serie_pelicula col-lg-2 col-sm-6" style="margin-top: 10px; margin-bottom: 10px;">

        <a target="_blank" onclick="setInterval(anuncio, 5000)" href="{{ url_for('viendo', sp=serie_pelicula['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email'] )}}"><img src="{{serie_pelicula['imagen'] }}" alt=""></a>

        <a href="{{ url_for('vistos', sp=serie_pelicula['serie_pelicula'], name=perfil['nombre_perfil'], cuenta=perfil['email'] )}}" class="fav">Terminó la serie/pelicula</a>

    </div>

    {% endfor %}

</div>

{% for anuncio in anuncios %}
<p id="links" style="display:none">{{anuncio['link_anuncio']}}</p>
{% endfor %}

<script>
    var contador=1
    //funcion para desplegar anuncions cada cierto tiempo
    function anuncio(){
        tipocuenta = '{{tipocuenta}}';
        if (contador<=5){
            if(tipocuenta == 'Gratis'){
            anuncios = document.querySelectorAll('[id=links]');
            numero = Math.random() * (anuncios.length);
            linkanuncio = anuncios.item(numero)
            link= linkanuncio.innerHTML;
            
            Object.assign(document.createElement('a'), {
                target: '_blank',
                href: link,
            }).click();

            contador = contador + 1;
            }        
        }
    }
</script>
{% endblock %}