{% extends 'layout.html' %}
  
{% block title %} Perfil {% endblock %}
  
{% block content %}
<h1 class="h2">Watched</h1>
<p>Welcome Back, {{ perfil['nombre_perfil']}}!</p>

<header>
    <nav class="main-nav">
        <a href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">Back</a>
        <a  href="{{ url_for('mylist', name=perfil['nombre_perfil']) }}">My List</a>
        <a  href="{{ url_for('watched', name=perfil['nombre_perfil']) }}">Watched</a>
    </nav>   
</header>

{% for serie_pelicula in serie_pelicula %}

<a href="{{serie_pelicula['link_repro'] }}" onclick="setInterval(anuncio, 1000)" target="_blank"><img src="{{ serie_pelicula['imagen'] }}" alt=""></a>

{% endfor %}




{% for anuncio in anuncios %}
<p id="links" style="display:none">{{anuncio['link_anuncio']}}</p>
{% endfor %}

<script>
    var contador=1
    //funcion para desplegar anuncions cada cierto tiempo
    function anuncio(){
        tipocuenta = '{{tipocuenta}}';
        if (contador<=5){
            if(tipocuenta == 'Gratis'){
            anuncios = document.querySelectorAll('[id=links]');
            numero = Math.random() * (anuncios.length);
            linkanuncio = anuncios.item(numero)
            link= linkanuncio.innerHTML;
            
            Object.assign(document.createElement('a'), {
                target: '_blank',
                href: link,
            }).click();

            contador = contador + 1;
            }        
        }
    }
</script>

{% endblock %}