{% extends 'layout.html' %}
  
{% block title %} Perfil {% endblock %}
  
{% block content %}
<h1 class="h2">Watched</h1>
<p>Welcome Back, {{ perfil['nombre_perfil']}}!</p>

<header>
    <nav class="main-nav">
        <a class="boton_menu" href="{{ url_for('regresar_home', name=perfil['nombre_perfil']) }}">Salir del Perfil</a>
        <a class="boton_menu" href="{{ url_for('homep', name=perfil['nombre_perfil']) }}">Contenido</a>
        <a class="boton_menu" href="{{ url_for('mylist', name=perfil['nombre_perfil']) }}">Favoritos</a>
        <a class="boton_menu" href="{{ url_for('watched', name=perfil['nombre_perfil']) }}">Vistos</a>
        <a href="{{ url_for('watching', name=perfil['nombre_perfil']) }}">Viendo</a>
    </nav>   
</header>


<div class="row">
{% for serie_pelicula in serie_pelicula %}
    <div class="serie_pelicula col-lg-2 col-sm-6" style="margin-top: 10px; margin-bottom: 10px;">

        <a href="{{serie_pelicula['link_repro'] }}" onclick="setInterval(anuncio, 5000)" target="_blank"><img src="{{ serie_pelicula['imagen'] }}" alt=""></a>

    </div>

{% endfor %}

</div>


{% for anuncio in anuncios %}
<p id="links" style="display:none">{{anuncio['link_anuncio']}}</p>
{% endfor %}

<script>
    var contador=1
    //funcion para desplegar anuncions cada cierto tiempo
    function anuncio(){
        tipocuenta = '{{tipocuenta}}';
        if (contador<=5){
            if(tipocuenta == 'Gratis'){
            anuncios = document.querySelectorAll('[id=links]');
            numero = Math.random() * (anuncios.length);
            linkanuncio = anuncios.item(numero)
            link= linkanuncio.innerHTML;
            
            Object.assign(document.createElement('a'), {
                target: '_blank',
                href: link,
            }).click();

            contador = contador + 1;
            }        
        }
    }
</script>

{% endblock %}